%fieldset.form-group.gl-form-group
  %legend.col-form-label.col-form-label
    = _('Large File Storage')
  = f.gitlab_ui_checkbox_component :lfs_enabled, checkbox_options: { checked: @group.lfs_enabled? } do |c|
    = c.label do
      = _('Projects in this group can use Git LFS')
      = link_to sprite_icon('question-o'), help_page_path('topics/git/lfs/index'), class: 'gl-ml-2'
    = c.help_text do
      = _('This setting can be overridden in each project.')
.form-group.gl-form-group{ role: 'group' }
  = f.label s_('ProjectCreationLevel|Allowed to create projects'), class: 'gl-display-block col-form-label'
  = f.select :project_creation_level, options_for_select(::Gitlab::Access.project_creation_options, @group.project_creation_level), {}, class: 'gl-form-select custom-select'

.form-group.gl-form-group{ role: 'group' }
  = f.label s_('SubgroupCreationlevel|Allowed to create subgroups'), class: 'gl-display-block col-form-label'
  = f.select :subgroup_creation_level, options_for_select(::Gitlab::Access.subgroup_creation_options, @group.subgroup_creation_level), {}, class: 'gl-form-select custom-select'

%fieldset.form-group.gl-form-group
  %legend.col-form-label.col-form-label
    = _('Two-factor authentication')
  - label = _("All users in this group must set up two-factor authentication")
  - help_link = link_to sprite_icon('question-o'), help_page_path('security/two_factor_authentication', anchor: 'enforce-2fa-for-all-users-in-a-group'), class: 'gl-ml-2'
  = f.gitlab_ui_checkbox_component :require_two_factor_authentication, '%{label}%{help_link}'.html_safe % { label: label, help_link: help_link }

.form-group.gl-form-group{ role: 'group' }
  = f.label :two_factor_grace_period, _('Two-factor authentication grace period'), class: 'gl-display-block col-form-label'
  = f.text_field :two_factor_grace_period, class: 'form-control gl-form-input'
  %small.form-text.text-gl-muted
    = _("Time (in hours) that users are allowed to skip forced configuration of two-factor authentication.")
